.projects-wrapper{
    padding: 7rem 0;
    position: relative;
}
.projects-container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.projects-header-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
    margin-right: 0;
    margin-left: 0;
}
.projects-header-col-12{
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    text-align: center;
}
.projects-header-col-12 h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    color: black;
    margin-bottom: 1.5rem;
}
.projects-header-col-12 p{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.8;
    color: #999999;
}
.projects-images-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.projects-images-col-4{
    width: calc(100% / 3);
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.projects-images-content{
    margin-bottom: 30px;
    position: relative;
    justify-content: flex-end;
}
.projects-images-bg-a-tag{
    overflow: hidden;
    background-image: url('../images/about-img.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
}
.projects-images-desc-wrapper{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem !important;
}
.projects-images-desc-h3{
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: black;
    margin-top:0;
}
.projects-images-desc-h3 a{
    font-size: 20px;
    cursor:pointer;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.5;
    color: inherit;
}
.projects-images-desc-wrapper p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #999999;
}

@media screen and (min-width: 992px) and (max-width:1267px){
    .projects-container{
        max-width: 960px;
    }
}
@media screen and (min-width: 577px) and (max-width:991px){
    .projects-container{
        max-width: 720px;
    }
    .projects-images-col-4{
        width: 100%;
    }
}
@media screen and (max-width: 576px){  
    .projects-container{
        max-width: 540px;
    }
    .projects-images-col-4{
        width: 100%;
    }
    .projects-wrapper{
        padding: 1rem 0;
    }
}

